@if (heroeSummary) {
<ion-item (click)="selectHero()" [detail]="false">
  <ion-avatar aria-hidden="true" slot="start">
    <img alt="Hero avatar" [src]="heroeSummary.thumbnailPath" />
  </ion-avatar>
  <div slot="start"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ heroeSummary.name }}
      <span class="date">
        <!-- <ion-note>{{ heroeSummary.comicsAvailable }}</ion-note>
          <ion-note>{{ heroeSummary.seriesAvailable }}</ion-note>
          <ion-note>{{ heroeSummary.storiesAvailable }}</ion-note> -->
        @if (isIos()) {
        <ion-icon
          aria-hidden="true"
          name="chevron-forward"
          size="small"
        ></ion-icon>
        }
      </span>
    </h2>
    <!-- <h3>{{ heroeSummary.id }}</h3> -->
    <p>This is your Hero summary</p>
  </ion-label>
</ion-item>
}
