ion-back-button {
  margin-inline: 10px;
}

ion-item h2 {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ion-item ion-note {
  font-size: 0.9375rem;
  margin-right: 12px;
  font-weight: 600;
}
