<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="marvel"
        defaultHref="/"
        icon="arrow-back-circle-outline"
        [text]=" isIos ? ('back-button' | translate) : ''"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> {{hero()?.name}} </ion-title>
  </ion-toolbar>
</ion-header>

@if (hero()) {
<ion-content [fullscreen]="true">
  <!-- OBS: 5) This card could be extracted to another component
  located at 'pages/hero/components/hero-card' or 'shared/components/hero/hero-card'  -->
  <ion-card>
    <img alt="Silhouette of mountains" [src]="hero()?.thumbnailPath" />
    <ion-card-header>
      <ion-icon
        aria-hidden="true"
        name="id-card-outline"
        color="primary"
      ></ion-icon>

      <ion-card-title>
        <h2>{{ 'more-info' | translate}}</h2>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label>
            <h2>{{'available-series' | translate}}</h2>
          </ion-label>
          <ion-badge color="marvel">{{hero()?.seriesAvailable}} </ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h2>{{'available-comics' | translate}}</h2>
          </ion-label>
          <ion-badge color="marvel">{{hero()?.comicsAvailable}} </ion-badge>
        </ion-item>
        <ion-item lines="none">
          <ion-label>
            <h2>{{'available-stories' | translate}}</h2>
          </ion-label>
          <ion-badge color="marvel"> {{hero()?.storiesAvailable}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
}
